<div class="flex items-center ml-3">
    <div (click)="toggleDropdown();">
        <ng-container *ngTemplateOutlet="buttonTemplate"></ng-container>
        <button *ngIf="!buttonTemplate" type="button" 
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            [id]="buttonId" 
            aria-expanded="false" 
            [attr.data-dropdown-toggle]="menuId"
        >
            <!--span  class="sr-only">Open user menu</span>
            <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo"-->
        </button>
    </div>
    <!-- Dropdown menu -->
    <div class="z-50 hidden my-4 text-base list-none bg-white rounded shadow dark:bg-gray-700 " 
        [id]="menuId"
        [ngClass]="{ 'divide-y divide-gray-100 dark:divide-gray-600': headerTemplate }"
        [attr.aria-labelledby]="buttonId"
    >
      <div *ngIf="headerTemplate" class="px-4 py-3" role="none">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
        <!--p class="text-sm text-gray-900 dark:text-white" role="none">
          Neil Sims
        </p>
        <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
          neil.sims flowbite.com
        </p-->
      </div>

      <ul class="py-1" role="none">
        <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
        <!--li>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Dashboard</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Settings</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Earnings</a>
        </li>
        <li>
          <a (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Logout</a>
        </li-->
      </ul>
    </div>
  </div>